---
name: Run go tests

on:
  workflow_call

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup a go environment
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version-file: go.mod

      - name: Build
        run: go build -v ./...

      - name: Test
        uses: robherley/go-test-action@b19f6aadabfb1ad85079065b21aa2af132466468 # v0
