---
name: Run go tests

on:
  workflow_call

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup a go environment
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version-file: go.mod

      - name: Build
        run: go build -v ./...

      - name: Test
        uses: robherley/go-test-action@42a1975c97156330b5126c2f35ef0fb78c4c7154 # v0
