---
name: "OpenAPI Specification CI"
on:
  workflow_call

jobs:
  lint:
    uses: ./.github/workflows/yaml-lint.yaml

  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: lts/*
      - run: npm install -g @apidevtools/swagger-cli
      - run: swagger-cli validate openapi.yml
