---
name: "OpenAPI Specification CI"
on:
  workflow_call

jobs:
  lint:
    uses: ./.github/workflows/yaml-lint.yml

  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: lts/*
      - run: npm install -g @apidevtools/swagger-cli
      - run: swagger-cli validate openapi.yml
