---
name: Run Spectral on OpenAPI Specification CI
on:
  workflow_call:
    inputs:
      file-glob:
        required: true
        type: string

jobs:
  spectral:
    name: Run Spectral
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Run Spectral
        uses: stoplightio/spectral-action@6416fd018ae38e60136775066eb3e98172143141 # v0.8.13
        with:
          file_glob: ${{ inputs.file-glob }}
