---
name: "OpenAPI Specification CI"
on:
  workflow_call

jobs:
  lint:
    uses: ./.github/workflows/yaml-lint.yaml

  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: lts/*
      - run: npm install -g @apidevtools/swagger-cli
      - run: swagger-cli validate openapi.yml
