---
name: Run Spectral on OpenAPI Specification CI
on:
  workflow_call:
    inputs:
      file-glob:
        required: true
        type: string

jobs:
  spectral:
    name: Run Spectral
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Run Spectral
        uses: stoplightio/spectral-action@6416fd018ae38e60136775066eb3e98172143141 # v0.8.13
        with:
          file_glob: ${{ inputs.file-glob }}
