---
name: Lint YAML files

on:
  workflow_call

jobs:
  yaml-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Install yamllint
        run: pip install yamllint

      - name: Lint YAML files
        run: yamllint .
