---
name: Lint YAML files

on:
  workflow_call

jobs:
  yaml-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Install yamllint
        run: pip install yamllint

      - name: Lint YAML files
        run: yamllint .
