---
name: Lint YAML files

on:
  workflow_call

jobs:
  yaml-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install yamllint
        run: pip install yamllint

      - name: Lint YAML files
        run: yamllint .
